"*":
  "atom-shell-commands":
    commands: [
      {
        command: "terminator"
        name: "terminator"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-`"
          save: true
      }
      {
        arguments: [
          "-Xlint"
          "{FileName}"
        ]
        command: "javac"
        matchs: [
          "^(?<file>[\\/0-9a-zA-Z\\._\\\\:]+):(?<line>\\d+):"
        ]
        name: "javac"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-1"
          save: true
      }
      {
        arguments: [
          "{FileNameNoExt}"
        ]
        command: "java"
        name: "java"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-6"
      }
      {
        arguments: [
          "-Wall"
          "{FileName}"
          "-o"
          "debugs/{FileNameNoExt}"
        ]
        command: "gcc"
        matchs: [
          "^(?<file>[\\/0-9a-zA-Z\\._\\\\:]+):(?<line>\\d+):(?<col>\\d+):"
        ]
        name: "gcc"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-2"
          save: true
      }
      {
        arguments: [
          "-x"
          "./debugs/{FileNameNoExt}"
        ]
        command: "terminator"
        name: "terminator"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-7"
      }
      {
        arguments: [
          "-Wall"
          "{FileName}"
          "-o"
          "debugs/{FileNameNoExt}"
          "-l"
          "stdc++"
        ]
        command: "gcc"
        matchs: [
          "^(?<file>[\\/0-9a-zA-Z\\._\\\\:]+):(?<line>\\d+):(?<col>\\d+):"
        ]
        name: "g++"
        options:
          cwd: "{FileDir}"
          keymap: "ctrl-3"
          save: true
      }
    ]
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "welcome"
      "timecop"
      "spell-check"
      "about"
      "autocomplete-html"
      "autocomplete-css"
      "autosave"
      "language-clojure"
      "language-csharp"
      "language-yaml"
      "language-xml"
      "language-typescript"
      "language-toml"
      "language-sql"
      "language-sass"
      "language-ruby-on-rails"
      "language-ruby"
      "language-property-list"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-go"
      "language-html"
      "language-hyperlink"
      "language-mustache"
    ]
    reopenProjectMenuCount: 10
    telemetryConsent: "limited"
  editor:
    fontFamily: "Source Code Pro"
    preferredLineLength: 222
    scrollPastEnd: true
    tabLength: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "9015b33d-8a25-4df8-8ca3-6399ff23d0da"
